.projectCardBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0.8rem;
    border: 2px solid white;
    background-color: rgba(194, 186, 186, 0.2);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

/* Image container to ensure full width on smaller screens */
.imageContainer {
    flex: 1;
    max-width: 20rem;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectCardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: white;
}

.projectCardContent h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.projectCardContent p {
    font-size: 1.05rem;
    font-weight: 600;
    margin: 1rem 0rem;
}

.cardButton {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardButton button {
    background-color: rgba(21, 139, 236, 0.873);
    width: 100%;
    padding: 0.5rem;
    max-width: 17rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cardButton button:hover {
    background-color: rgba(21, 139, 236, 1);
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .projectCardBox {
        flex-direction: column;
        align-items: center;
    }

    .imageContainer {
        width: 100%;
        max-width: none;
    }

    .imageContainer img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: center;
        border-radius: 0.8rem 0.8rem 0 0;
    }

    .projectCardContent {
        text-align: center;
        width: 100%;
    }

    .cardButton {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .projectCardContent h3 {
        font-size: 1.2rem;
    }

    .projectCardContent p {
        font-size: 1rem;
    }

    .cardButton button {
        font-size: 0.9rem;
    }
}
