.projectCardBox {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 0.8rem;
    border-color: white;
    border-width: 0.2rem;
    background-color: rgba(194, 186, 186, 0.2);
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    overflow: hidden;
}

.projectCardBox img {
    width: 100%;
    max-width: 20rem;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    border-right: white 0.2rem solid;
}

.projectCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: white;
    flex: 1;
}

.projectCardContent h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.projectCardContent p {
    font-size: 1.05rem;
    font-weight: 600;
    margin: 1rem 0rem;
}

.cardButton {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardButton button {
    background-color: rgba(21, 139, 236, 0.873);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 0.5rem;
    max-width: 17rem;
    height: 2.5rem;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cardButton button:hover {
    background-color: rgba(21, 139, 236, 1);
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
}

/* Media Queries */
@media (max-width: 768px) {
    .projectCardBox {
        flex-direction: column;
        align-items: center;
    }

    .projectCardBox img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0 0;
    }

    .projectCardContent {
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        text-align: center;
    }

    .projectCardContent h3 {
        font-size: 1.25rem;
    }

    .projectCardContent p {
        font-size: 1rem;
    }

    .cardButton {
        justify-content: center;
        width: 100%;
    }

    .cardButton button {
        width: 100%;
        max-width: 15rem;
        font-size: 0.9rem;
    }
    
    .cardButton button:hover {
        background-color: rgba(21, 139, 236, 1);
        transform: translateY(-3px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        filter: brightness(1.1);
    }
}

@media (max-width: 480px) {
    .projectCardContent h3 {
        font-size: 1rem;
    }

    .projectCardBox img {
        border-top-left-radius: 0.8rem;
        border-right: white 0rem solid;
    }

    .projectCardContent p {
        font-size: 0.9rem;
    }

    .cardButton button {
        font-size: 0.9rem;
    }
    
    .cardButton button:hover {
        background-color: rgba(21, 139, 236, 1);
        transform: translateY(-3px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        filter: brightness(1.1);
    }
}
