@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.expBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.expBox h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.cardBox {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
}

/* Apply animation to each ExperienceCard */
.cardBox .experienceCard {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

/* Adding a delay for each card to create a staggered effect */
.cardBox .experienceCard:nth-child(1) { animation-delay: 0.2s; }
.cardBox .experienceCard:nth-child(2) { animation-delay: 0.4s; }
.cardBox .experienceCard:nth-child(3) { animation-delay: 0.6s; }
.cardBox .experienceCard:nth-child(4) { animation-delay: 0.8s; }
.cardBox .experienceCard:nth-child(5) { animation-delay: 1s; }

@media (max-width: 1024px) {
    .cardBox {
        gap: 6rem;
    }
    .expBox h1 {
        font-size: 3rem;
    }
}

@media (max-width: 840px) {
    .cardBox {
        gap: 3rem;
    }
    .expBox h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 620px) {
    .cardBox {
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .expBox h1 {
        font-size: 2.4rem;
    }
}
